body{
    font-family:Arial, Helvetica, sans-serif ;
    
    /*centralização:*/
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:cornsilk
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logotexto{
    display: flex;
    align-items: center;
    font-size: 25px;
    
    /*cor do texto em degrade*/

    background: linear-gradient(to right,#0066ff 30%, #ff0000 60%, #ffcc00 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#logo_superflash{
    height: 180px;
    width: 220px;
}

#loading{
    height: 75px;
    width: 75px;
}

